To aggregate the deaths dataset

In [2]:
import pandas as pd

In [3]:
dataf = pd.read_csv("Underlying Cause of Death, 2003.txt", sep="\t", header=None)

In [7]:
dataf = dataf[dataf[2].notnull()]
dataf[5].value_counts()

5
All other non-drug and non-alcohol causes             3107
All other alcohol-induced causes                       402
Drug poisonings (overdose) Unintentional (X40-X44)     375
Drug poisonings (overdose) Suicide (X60-X64)            89
Drug poisonings (overdose) Undetermined (Y10-Y14)       57
All other drug-induced causes                           56
Drug/Alcohol Induced Cause                               1
Alcohol poisonings (overdose) (X45, X65, Y15)            1
Name: count, dtype: int64

In [8]:
required = (
    "Drug poisonings (overdose) Unintentional (X40-X44)",
    "Drug poisonings (overdose) Suicide (X60-X64)",
    "Drug poisonings (overdose) Undetermined (Y10-Y14)",
    "All other drug-induced causes",
    "Drug/Alcohol Induced Cause",
)

In [11]:
# i want 5 to only have required causes of death

dataf = dataf[dataf[5].isin(required)]

,0,1,2,3,4,5,6,7
0,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
2,NaN,"Baldwin County, AL",1003,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
39,NaN,"Jefferson County, AL",1073,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0
40,NaN,"Jefferson County, AL",1073,2003.0,2003.0,All other drug-induced causes,D9,32.0
55,NaN,"Mobile County, AL",1097,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0
...,...,...,...,...,...,...,...,...
4019,NaN,"Milwaukee County, WI",55079,2003.0,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,20.0
4020,NaN,"Milwaukee County, WI",55079,2003.0,2003.0,All other drug-induced causes,D9,14.0
4034,NaN,"Racine County, WI",55101,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0
4035,NaN,"Racine County, WI",55101,2003.0,2003.0,All other drug-induced causes,D9,10.0
4054,NaN,"Waukesha County, WI",55133,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,17.0

In [12]:
dataf.columns = dataf.iloc[0]
dataf = dataf[1:]

In [15]:
df_grouped = dataf.groupby(["County", "Year"])["Deaths"].sum().reset_index()

df_grouped

                     County    Year    Deaths
0         Acadia Parish, LA  2003.0      11.0
1            Ada County, ID  2003.0      17.0
2          Adams County, CO  2003.0  32.010.0
3          Aiken County, SC  2003.0      10.0
4        Alachua County, FL  2003.0      11.0
..                      ...     ...       ...
404      Yavapai County, AZ  2003.0      15.0
405  Yellowstone County, MT  2003.0      11.0
406         York County, ME  2003.0      16.0
407         York County, PA  2003.0      25.0
408         York County, SC  2003.0      10.0

[409 rows x 3 columns]

In [27]:
# change year and deaths column to int
dataf["Deaths"] = pd.to_numeric(dataf["Deaths"], errors="coerce")
dataf = dataf.dropna(subset=["Deaths"])
dataf["Deaths"] = dataf["Deaths"].astype(int)

/var/folders/mm/1ns7h3xd5h71r5vbw2p8jkm80000gn/T/ipykernel_38502/3391451124.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataf['Deaths'] = pd.to_numeric(dataf['Deaths'], errors='coerce')

In [33]:
def process_file(file_name):
    # read the file into a DataFrame
    df = pd.read_csv(file_name, sep="\t", header=None)

    # perform the necessary transformations

    df = df[df[5].isin(required)]
    df.columns = df.iloc[0]
    df = df[1:]
    df["Year"] = pd.to_numeric(df["Year"], errors="coerce")
    df = df.dropna(subset=["Year"])
    df["Year"] = df["Year"].astype(float).astype(int)
    df["Deaths"] = pd.to_numeric(df["Deaths"], errors="coerce")
    df = df.dropna(subset=["Deaths"])
    df["Deaths"] = df["Deaths"].astype(int)
    df_grouped = df.groupby(["County", "Year"])["Deaths"].sum().reset_index()

    return df_grouped


# list of file names
file_names = [
    "Underlying Cause of Death, 2003.txt",
    "Underlying Cause of Death, 2004.txt",
    "Underlying Cause of Death, 2005.txt",
    "Underlying Cause of Death, 2006.txt",
    "Underlying Cause of Death, 2007.txt",
    "Underlying Cause of Death, 2008.txt",
    "Underlying Cause of Death, 2009.txt",
    "Underlying Cause of Death, 2010.txt",
    "Underlying Cause of Death, 2011.txt",
    "Underlying Cause of Death, 2012.txt",
    "Underlying Cause of Death, 2013.txt",
    "Underlying Cause of Death, 2014.txt",
    "Underlying Cause of Death, 2015.txt",
]

# apply the function to each file name
dfs = [process_file(file_name) for file_name in file_names]

# concatenate all the DataFrames into a single DataFrame
df_all = pd.concat(dfs)

In [34]:
df_all

                 County  Year  Deaths
0     Acadia Parish, LA  2003      11
1        Ada County, ID  2003      17
2      Adams County, CO  2003      42
3      Aiken County, SC  2003      10
4    Alachua County, FL  2003      11
..                  ...   ...     ...
789     Yolo County, CA  2015      26
790     York County, ME  2015      39
791     York County, PA  2015      84
792     York County, SC  2015      38
793     Yuma County, AZ  2015      24

[7920 rows x 3 columns]

In [38]:
df_all

             County  Year  Deaths State
0     Acadia Parish  2003      11    LA
1        Ada County  2003      17    ID
2      Adams County  2003      42    CO
3      Aiken County  2003      10    SC
4    Alachua County  2003      11    FL
..              ...   ...     ...   ...
789     Yolo County  2015      26    CA
790     York County  2015      39    ME
791     York County  2015      84    PA
792     York County  2015      38    SC
793     Yuma County  2015      24    AZ

[7920 rows x 4 columns]

In [39]:
# save df_all to csv

df_all.to_csv("mortality.csv", index=False)